body {
    width: 1024;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 5px gray;
    box-shadow: 0 0 5px rgb(255, 229, 229);
    padding-bottom: 32px;
}

@media only screen and (max-width: 600px) {
    body {
        width: 100%;
        margin: 0 auto;
        -webkit-box-shadow: 0 0 5px gray;
        box-shadow: 0 0 5px gray;
        padding-bottom: 32px;
    }

    #header_navigation {
        flex-direction: column;
    }

    #menu {
        flex-direction: column;
    }

    #icon {
        margin-bottom: 10px;
    }

    * {
        flex-direction: column;
    }

    #menu {
        flex-direction: column;
    }

    .container1 {
        padding-top: 8px;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 4px;
    }
    
    .container2 {
        padding-top: 4px;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 8px;
    }
    
    .container_form input, select {
        padding: 6px;
    }
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

#head {
    background-color: #f1f1f1;
}

main {
    background-color: white;
}

#header_navigation {
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 20px 80px;
    align-items: center;
}

#header_line {
    border: 5px solid green;
    border-radius: 5px;
    width: 80%;
}

#menu {
    display: flex;
}

#navigation {
    display: flex;
    align-items: center;
    border-radius: 8px;
}

#main_section {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 5px;
    height: 150px;
}

#title {
    color: #800000;
    text-align: center;
}

#subtitle {
    color: gray;
    opacity: 0.8;
    text-align: center;
}

/* Checkpoint */
#contactUs {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

#article {
    flex-basis: 60%;
    flex-grow: 0;
    margin-left: 32px;
}

#img1 {
    max-height: 100%;
    max-width: 100%;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s ease;
    border: 2px white solid;
}

#img1:hover {
    opacity: 0.8;
    border-radius: 8px;
    border: 2px gray solid;
}

#form {
    flex-basis: 40%;
    flex-grow: 0;
    background-color: #f1f1f1;
    margin-right: 32px;
    border-radius: 4px;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

#form h3, p, form {
    margin: 0px 16px;
}

#form p {
    color: gray;
    margin-top: 4px;
    text-align: justify;
}

.container1 {
    padding-top: 16px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 16px;
}

.container2 {
    padding-top: 16px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
}

.container_form input, select {
    padding: 12px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px gray solid;
}

sup {
    color: red;
}

#send_button {
    margin-top: 32px;
    padding: 4px;
    background-color: #333333;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 4px;
}

#send_button p {
    text-align: center;
    color: #f1f1f1;
    font-size: 18px;
}

#article h5 {
    font-size: 17px;
    color: gray;
    margin: 24px 32px;
    font-style: italic;
}

.circle {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-color: #CCCCCC;
    vertical-align: middle;
    color: #f1f1f1;
    display: flex;
    align-items: center;
}

.circle b {
    margin: auto;
}

#chatbox {
    display: flex;
}

/* Precision-Checker
#chatbox, #profileicon, #profiledescription, .circle {
    border: 1px black solid;
} */

#chatbox {
    overflow: auto;
}

#profiledescription {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 8px;
    overflow: auto;
    overflow-wrap: break-word;
    word-break: break-all;
}

#profiledescription * {
    margin: auto 10px;
}

#profileicon {
    display: flex;
    align-items: center;
}

#profileicon img {
    width: 64px;
    height: 64px;
    background-color: #f1f1f1;
    vertical-align: middle;
    border-radius: 50%;
    margin: auto 0;
}

#explanation {
    margin-top: 20px;
}

#explanation_header, #explanation_row {
    display: flex;
}
  
#explanation_col {
    flex: 1;
}

.explanation_col p {
    color: black;
    font-weight: bold;
    margin: 8px 0;
    word-break: normal;
    overflow-wrap: break-word;
    text-align: left;
    font-size: 14px;
}

#explanation_col1 {
    display: flex;
    align-items: center;
    padding: 4px;
}

#explanation_col2 {
    flex: 1;
    overflow: auto;
    overflow-wrap: break-word;
    word-break: break-all;
    justify-content: left;
    display: flex;
    align-items: center;
}

#explanation_col2 p {
    margin-left: 16px;
    font-size: 12px;
    margin-right: 16px;
}

/* Precision-Checker
#explanation_col1, #explanation_col2, #explanation_col, #explanation_header, #explanation_row, #explanation {
    border: 1px black solid;
} */

#menu_button {
    background-color: white;
    padding: 16px 32px;
    border: 1px solid gray;
    cursor: pointer;
    transition: 0.5s background-color ease-out;
    margin: 4px;
    font-size: 14px;
    border-radius: 8px;
}

#menu_button:hover {
    background-color: gray;
}

#menu {
    display: flex;
}