body {
    max-width: 960px;
    margin: 0 auto;
}

header {
    background-color: #f1f1f1;
}

main {
    background-color: white;
}

#header_navigation {
    display: flex;
    background-color: white;
    justify-content: space-between;
    height: 80px;
    padding: 0 80px;
    align-items: center;
}

#navigation {
    display: flex;
    align-items: center;
    height: 50px;
    border: 1px black solid;
    border-radius: 8px;
}

#link1, #link2, #link3 {
    text-decoration: none;
}

#link1 {
    border-right: 1px black solid;
}

#link3 {
    border-left: 1px black solid;
}

#divide {
    vertical-align: bottom;
    height: 50px;
    width: 100px;
    line-height: 50px;
    text-align: center;
    justify-content: center;
}

#main_section {
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-top: 5px;
    height: 150px;
}

#title {
    color: #800000;
}

#subtitle {
    color: gray;
    opacity: 0.8;
}

/* Checkpoint */
#contactUs {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

#article {
    flex-basis: 60%;
    flex-grow: 0;
    margin-left: 32px;
}

#article img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s ease;
    border: 2px white solid;
}

#article img:hover {
    opacity: 0.8;
    border-radius: 8px;
    border: 2px gray solid;
}

#form {
    flex-basis: 40%;
    flex-grow: 0;
    background-color: #f1f1f1;
    margin-right: 32px;
    border-radius: 4px;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

#form h3, p, form {
    margin: 0px 16px;
}

#form p {
    color: gray;
    margin-top: 4px;
    text-align: justify;
}

.container1 {
    padding-top: 16px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 16px;
}

.container2 {
    padding-top: 16px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 32px;
}

.container_form input, select {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px gray solid;
}

sup {
    color: red;
}

#send_button {
    margin-top: 32px;
    padding: 8px;
    background-color: #333333;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 4px;
    color: #f1f1f1;
}

#article h5 {
    font-size: 17px;
    color: gray;
    margin: 24px 32px;
    font-style: italic;
}